<roundcube:include file="includes/layout.html" />
<roundcube:include file="includes/menu.html" />

<div id="layout-content" class="selected" role="main">
  <div class="header">
    <a class="button icon back-list-button" href="#back"><span class="inner"><roundcube:label name="back" /></span></a>
    <span class="header-title"><roundcube:label name="mailman_integration.mailman_lists_title" /></span>
  </div>

  <div class="mailman-layout">
    <aside class="mailman-layout__sidebar">
      <roundcube:object name="mailmanlistsidebar" />
    </aside>
    <section class="mailman-layout__detail">
      <roundcube:object name="mailmanlistdetail" />
    </section>
  </div>
</div>

<roundcube:include file="includes/footer.html" />
